asana_api_key: "EMPTY STRING"
reports:
    reporta:
        name: "Analytics Weekly Update"
        frequency: weekly
        time_frame: "last week"
        output:
            email:
                recipients: 
                - dvanliere@wikimedia.org 
                - dsc@wikimedia.org 
                - hfung@wikimedia.org 
                - robla@wikimedia.org
                - aotto@wikimedia.org
                - ezachte@wikimedia.org
                sender: 
                     email: dvanliere@wikimedia.org
                     name: Diederik
                server:
                    host: smtp.gmail.com    #localhost is valid if sendmail is installed
                    username: secret
                    password: secret
                    port: 587

            wiki:
                url: http://www.mediawiki.org/w/api.php
                username: secret
                password: secret
                titles:
                    test: "User_talk:Drdee/Sandbox"
                    #kraken: "Analytics/Kraken/status"
                    #reportcard: "Analytics/Reportcard/status"                    
        ignore_projects: 
        - nourishment 
        - "Misc Evan"
        team_members: #make sure that these names match the fullname in Asana
        - "Diederik van Liere" 
        - "David Schoonover" 
        - "Andrew Otto"
        - "Erik Zachte"

    reportb:
        name: Another example
        frequency: monthly
        time_frame: "last month"
        output:
            wiki:
                url: https://office.wikimedia.org/w/api.php
                username: secret
                password: secret
                titles: #cannot be an empty list
                    test: "User_talk:Dvanliere/Sandbox"
                    all: "User:Dvanliere/Progress"
        ignore_projects: 
        - nourishment 
        - "Misc Evan"
        team_members: ""    #cannot be an empty list
